---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Experience from '../components/Experiencie.astro'


---

<Layout title="Welcome to Astro.">
		<main class="flex flex-col justify-center items-center w-[100%] h-[100%] ">
			<section class="flex flex-col w-section lg:h-[450px] h-[595px] px-5 pb-5 my-5 lg:flex-row lg:px-5">
				<Hero />
			</section> 
			<hr class=" w-full h-px my-8 lg:my-20 bg-gray-200 border-0 dark:bg-gray-700">
			<section class="w-section my-5 px-5">
				<div class="flex items-center pb-10">
					<svg class="size-6 lg:size-8 inline mr-2 font-bold" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path><path d="M12 12l0 .01"></path><path d="M3 13a20 20 0 0 0 18 0"></path></svg>
					<h2 class="text-lg lg:text-3xl font-semibold">Experiencia de trabajo</h2>
				</div>
				<Experience  />
			</section>
			
		</main>	
	
	
</Layout>

<style>
	.w-section{
		width: 80%;
	}

	@media screen and (max-width:768px) {
		.w-section{
		width: 100%;
	}
	}

	/* .icon{
		margin-left: 14rem;
	} */
</style>
