---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Badge from '../components/Badge.astro'
---

<Layout title="Welcome to Astro.">
	<Header />
	<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
		<main class="flex justify-center items-center w-[100vw] h-[100vh] ">
			<section class="flex w-screen px-10 pb-5 h-3/4 mt-40 ">
				<div class="w-[55%] ml-32 pl-10">
					<h1 class=" flex items-center text-5xl text-white font-bold">Hey, soy Eduardo Mar 🌊 
					<Badge>
						<span class="bg-indigo-100 text-indigo-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300"><a href="https://www.linkedin.com/in/eduardo-mar-cruz-14091999emc/" target="_blank" rel="noopener noreferrer">Disponible para trabajar</a></span>
					</Badge>
					</h1>
					<p class="w-8/12 pt-10 text-justify text-wrap text-lg">
					Desarrollador front-end de Altamira, Tamps. apasionado por la creación de sitios web accesibles y fáciles de usar.
					</p>
					<button type="button" class="mt-5 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-lg p-3 text-center me-2 mb-2">
						View my projects
					</button>
					<button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-lg font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
					<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
						Contact Me
					</span>
				</button>
				</div>
				<div class="w-[26%] h-[95%]">
					<img src="../../public/Foto_port.jpeg" alt="" class="w-full h-full rounded-lg ">
				</div>
			</section>
			
		</main>	
	</div>
	
</Layout>
