---

---

<section class="w-section text-base dark:text-gray-300">
    <article class="w-[90%]">
        <h2 class="text-lg lg:text-3xl font-semibold text-gray-100 mb-5">
            Sobre Mi 
        </h2>
        <p class="my-2">
            Mi interés en el desarrollo comenzó a finales del 2022 cuando me decidí por crear, 
            ya sean videojuegos en Unity 2D por hobby o diseños usando CSS3.
        </p>
        <p class="my-2">
            Un día descubrí el canal de Manzdev en donde llevaban a cabo el desarrollo de alertas personalizadas 
            para las suscripciones usando la API de Twitch y me encantó la idea de crear algo tan bonito y complejo, 
            y que a la vez tenga tanto impacto en la convivencia con la comunidad.
        </p>
        <p class="my-2">
            Actualmente, mi principal objetivo es desarrollar productos y experiencias 
            digitales que sean accesibles e inclusivos para una amplia gama de usuarios.
        </p>
        <p class="my-2"> 
            Algunas tecnologías en las que eh estado trabajando últimamente:
        </p>
    </article>
    
</section>


<style>
.w-section {
    width: 82.9%;
}
</style>
