---

---

<section class="w-section text-base dark:text-gray-300" id="aboutme">
    <article class="w-[90%]">
        <h2 class="text-lg lg:text-3xl font-semibold text-gray-100 mb-5">
            Sobre Mi
        </h2>
        <p class="my-2">
            Soy un desarrollador web apasionado, con un interés que comenzó
            durante la pandemia mientras estudiaba desde casa. Aproveché la
            oportunidad de tomar varios cursos con beca, lo que me abrió las
            puertas al emocionante mundo de la programación.
        </p>
        <p class="my-2">
            Con más de dos años de experiencia en la industria de TI, he
            trabajado principalmente como QA tester en BITAM®, una empresa
            ubicada en Tampico, Tamps, donde también resido actualmente. En este
            rol, me he destacado por mi adaptabilidad a los cambios y mi
            capacidad para resolver problemas de manera eficiente y rápida
        </p>
        <p class="my-2">
            He colaborado estrechamente con equipos de desarrollo, diseño y
            negocio para garantizar la entrega de productos de alta calidad.
            Además, he implementado procesos de mejora continua para optimizar
            las prácticas de pruebas y reducir el tiempo de ejecución.
        </p>
        <p class="my2">
            Mi objetivo ahora es aplicar mis habilidades en desarrollo web para
            crear soluciones innovadoras y funcionales. Estoy en constante
            aprendizaje y me apasiona mantenerme al día con las últimas
            tendencias y tecnologías del desarrollo web.
        </p>
    </article>
</section>

<style>
    .w-section {
        width: 82.9%;
    }
</style>
