---
import '@fontsource/press-start-2p';
---

<header class="flex justify-between px-28 py-5 text-gray-200">
<!-- <img src="" alt="photo-portfolio"> -->
<div class="flex items-center">
    <h2 class="name_title text-base px-4 text-white">EDUARDO MAR</h2>
    <img class="rounded-full w-10 h-10" src="/dekukun.jpeg" 
alt="icon me">

</div>


<nav>
    <a class="text-base px-4" href="">About me</a>
    <a class="text-base px-4" href="">Projects</a>
    <a  class="text-base px-4" href="">Contact</a>
</nav>
</header>

<style>
.name_title{
    font-family: 'Press Start 2P', system-ui;
    text-shadow: 
    #fff 0 0 12px,
    #5DADE2 0 0 25px,
    #5DADE2 0 0 35px,
    #5DADE2 0 0 45px;
}
</style>