---
import '@fontsource/press-start-2p';
---

<header class="flex animate-fade-up justify-between px-2 py-2 text-gray-200 lg:py-3 box-border border-b-2 border-gray-300  bg-[#00101B] fixed top-0 left-0 w-screen max-w-screen z-40">
<!-- <img src="" alt="photo-portfolio"> -->
<div class="flex items-center">
    <h2 class="name_title text-[11px] px-2 text-white lg:text-base lg:px-4">EMC</h2>
    <img class="rounded-full size-8 lg:size-10" src="/dekukun.jpeg" 
alt="icon me">
</div>

<nav class="flex items-center">
    <a class="text-[11px] px-1 lg:text-base lg:px-4" href="#experience">Experience</a>
    <a class="text-[11px] px-1 lg:text-base lg:px-4 " href="#projects">Projects</a>
    <a  class="text-[11px] px-1 lg:text-base lg:px-4" href="">About me</a>
</nav>
</header>

<style>
.name_title{
    font-family: 'Press Start 2P', system-ui;
    text-shadow: 
    #fff 0 0 12px,
    #5DADE2 0 0 25px,
    #5DADE2 0 0 35px,
    #5DADE2 0 0 45px;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(2rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.animate-fade-up {
    animation: fade-up 1.5s both
}

</style>