---
import '@fontsource/press-start-2p';
import NavMobil from './NavMobil.astro';
---

<header class="flex flex-wrap animate-fade-up items-center justify-between px-2 py-2 text-gray-200 lg:py-3 box-border shadow-[0px_4px_12px_3px_rgba(0,0,0,0.5)] bg-gray-50 dark:border-b-2 dark:border-gray-300  dark:bg-[#00101B] fixed top-0 left-0 w-screen max-w-screen z-40">
<!-- <img src="" alt="photo-portfolio"> -->
<div class="flex items-center">
    <h2 class="name_title text-[11px] px-2 dark:text-gray-100 text-gray-800 lg:text-base lg:px-4">EMC</h2>
    <img class="rounded-full size-8 lg:size-10" src="/dekukun.jpeg" 
alt="icon me">
</div>
<NavMobil />
</header>

<style>
.name_title{
    font-family: 'Press Start 2P', system-ui;
    text-shadow: 
    #fff 0 0 12px,
    #5DADE2 0 0 25px,
    #5DADE2 0 0 35px,
    #5DADE2 0 0 45px;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(2rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.animate-fade-up {
    animation: fade-up 1.5s both
}

</style>