---
import Badge from "../components/Badge.astro"
import CorreoIcon from "./icons/CorreoIcon.astro"
---
<div class="flex items-center w-full lg:w-[69%]">
    <div class="w-[100%]">
		<div class="flex mt-5 flex-col lg:flex-row">
        <div class="w-full lg:w-[80%] flex items-start justify-center lg:justify-start">
            <h1 class="flex animate-fade-up mr-1.5 text-[26px] dark:text-gray-100 text-gray-800 font-bold lg:text-[45px]">
				Hey, soy
            </h1>
			<div class="relative w-[10rem] lg:w-[50%]">
				<h1 class="name-wave animate-fade-up text-[26px] dark:text-gray-100 text-gray-800  font-bold dark:wave-bor lg:text-[45px]">Eduardo Mar</h1>
            <h1 class="name-wave fade-up-wave dark:text-gray-100 text-gray-800  text-[26px] font-bold lg:text-[45px]">Eduardo Mar</h1>
			</div>
            <span class="icon animate-fade-up text-[26px] lg:text-[45px]">🌊</span>
            
        </div>
        <a href="https://www.linkedin.com/in/eduardo-mar-cruz-14091999emc/" target="_blank" rel="noopener" class="flex animate-fade-up justify-center transition lg:justify-center ">
			<Badge>Disponible para trabajar</Badge> 
		</a>
		</div>
        <p class="w-full animate-fade-up text-center lg:mt-10 lg:text-justify text-wrap text-base font-semibold dark:text-gray-300 text-gray-800 lg:w-8/12 lg:text-lg">
        Hola, Soy un Desarrollador Web de Altamira, Tamps. apasionado por la creación de sitios web accesibles y fáciles de usar.
        </p>
        <div class="w-full lg:mt-5 mt-6 flex justify-evenly items-center lg:justify-start">
			<a href="#projects">
				<button type="button" class="btn_projects animate-fade-up text-gray-800 dark:text-gray-100 bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm lg:text-base lg:p-3 p-2 text-center lg:me-2 lg:mb-2">
					
					View my projects
				</button>
			</button>
			</a>
            <a href="mailto:eduardomar987@gmail.com">
				<button class="relative btn_contact animate-fade-up inline-flex items-center justify-center p-0.5 lg:mb-2 lg:me-2 overflow-hidden text-sm lg:text-base font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-gray-100 dark:text-gray-100 focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
					<span class="flex items-center btn_contact  px-5 py-1.5 lg:p-2.5 transition-all ease-in duration-75 bg-gray-100 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
						<CorreoIcon />
						Contact Me
					</span>
				</button>
			</a>
        
        </div>
    </div>
</div>
<div class="flex justify-center items-center w-full h-full lg:w-[31%] ">
	<div class="w-full h-full flex justify-center items-center">
		<img src="/ft-port.webp" alt="" class="size-[15rem] lg:w-[20rem] lg:h-[20rem] animate-fade-up rounded-full h-auto max-w-xl shadow-lg dark:shadow-gray-700">
	</div>
    
</div>

<style>
	

	.btn_projects{
		border-radius:1.5rem .75rem;
	}

	.btn_contact{
		border-radius:.75rem 1.5rem;
	}

    .name-wave{
		position: absolute;
		/* left: 19.5rem; */
	}

	.wave-bor{
		text-shadow: 
		-1px -1px 0 black,
		1px -1px 0 black,
		1px 1px 0 black,
		-1px 1px 0 black
		;
	}

	.wave{
		color: #09f;
		animation: wave 2s ease-in-out 3s infinite;
	}

    .fade-up-wave{
        color: #09f;
        animation: fade-up 1.5s both, wave 2s ease-in-out infinite;
    }
	
	@keyframes wave{
		0%, 100% {
			clip-path: polygon(
				0% 47%,
				10% 48%,
				33% 54%,
				54% 60%,
				70% 61%,
				84% 59%,
				100% 52%,
				100% 100%,
				0% 100%
			);
		}
		50% {
			clip-path: polygon(
				0% 65%,
				15% 65%,
				34% 66%,
				51% 62%,
				67% 58%,
				84% 45%,
				100% 46%,
				100% 100%,
				0% 100%
			);
		}
	}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(2rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.animate-fade-up {
    animation: fade-up 1.5s both
}


	@media screen and (max-width:768px) {
		.box-relative{
		width: 18.5rem;
	}
}
</style>