---
import Badge from "../components/Badge.astro"
---
<div class="flex items-center w-full lg:w-[69%]">
    <div class="w-[100%]">
		<div class="flex mt-5 flex-col md:flex-row">
        <div class="w-full md:w-[80%] flex items-start justify-center lg:justify-start">
            <h1 class="flex animate-fade-up mr-1.5 text-[26px] text-gray-100 font-bold lg:text-5xl">
				Hey, soy
            </h1>
			<div class="relative w-[10rem] lg:w-[50%]">
				<h1 class="name-wave animate-fade-up text-[26px] text-gray-100 font-bold wave-bor lg:text-5xl">Eduardo Mar</h1>
            <h1 class="name-wave fade-up-wave text-gray-100  text-[26px] font-bold lg:text-5xl">Eduardo Mar</h1>
			</div>
            <span class="icon animate-fade-up text-[26px] lg:text-5xl">🌊</span>
            
        </div>
        <a href="https://twitter.com/Edumc1409" target="_blank" rel="noopener" class="flex animate-fade-up justify-center transition md:justify-center ">
			<Badge>Disponible para trabajar</Badge> 
		</a>
		</div>
        <p class="w-full animate-fade-up text-center lg:mt-10 lg:text-justify text-wrap text-base font-semibold text-gray-300 lg:w-8/12 lg:text-lg">
        Hola, Soy un Desarrollador Web de Altamira, Tamps. apasionado por la creación de sitios web accesibles y fáciles de usar.
        </p>
        <div class="w-full lg:mt-5 mt-6 flex justify-evenly items-center lg:justify-start">
            <button type="button" class="btn_projects animate-fade-up text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm lg:text-base lg:p-3 p-2 text-center lg:me-2 lg:mb-2"><svg class="w-5 h-5 inline-flex" fill="#000000" viewBox="0 0 24 24" id="file-code-3" data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><polyline id="secondary" points="19 21 21 19 19 17" style="fill: none; stroke: #A040A0; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline><polyline id="secondary-2" data-name="secondary" points="15 17 13 19 15 21" style="fill: none; stroke: #A040A0; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline><path id="secondary-3" data-name="secondary" d="M7,13h6M7,9h6" style="fill: none; stroke: #ffffff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path><path id="primary" d="M9,21H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H15l2,2v8" style="fill: none; stroke: #ffffff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path><polygon id="primary-2" data-name="primary" points="15 3 15 5 17 5 15 3" style="fill: none; stroke: #ffffff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polygon></g></svg>
                View my projects
            </button>
        </button>
        <button class="relative btn_contact animate-fade-up inline-flex items-center justify-center p-0.5 lg:mb-2 lg:me-2 overflow-hidden text-sm lg:text-base font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
            <span class="relative btn_contact  px-5 py-1.5 lg:p-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            <svg class="w-5 h-5 inline-flex" viewBox="0 0 512 512" id="Layer_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#A040A0;} </style> <g> <g> <polygon class="st0" points="141.7,155 117.3,155 124.5,173.4 193.7,236.2 230.8,267.9 277.9,230.9 351.2,159.7 "></polygon> </g> <g> <path d="M304.7,325.9H105.6c-4.7,0-8.6-3.8-8.6-8.6V155c0-4.7,3.8-8.6,8.6-8.6H356c4.7,0,8.6,3.8,8.6,8.6v103.8 c0,4.7-3.8,8.6-8.6,8.6s-8.6-3.8-8.6-8.6v-95.3H114.2v145.2h190.5c4.7,0,8.6,3.8,8.6,8.6C313.2,322.1,309.4,325.9,304.7,325.9z"></path> </g> <g> <path d="M105.6,325.9c-2.2,0-4.5-0.9-6.1-2.6c-3.3-3.4-3.2-8.8,0.2-12.1l77.2-75l-77.2-75c-3.4-3.3-3.5-8.7-0.2-12.1 c3.3-3.4,8.7-3.5,12.1-0.2l83.5,81.2c1.7,1.6,2.6,3.8,2.6,6.1c0,2.3-0.9,4.5-2.6,6.1l-83.5,81.2 C109.9,325.1,107.7,325.9,105.6,325.9z"></path> </g> <g> <path d="M313.2,284.3c-2.2,0-4.3-0.8-6-2.4l-40.6-39.5c-1.7-1.6-2.6-3.8-2.6-6.1c0-2.3,0.9-4.5,2.6-6.1l83.5-81.2 c3.4-3.3,8.8-3.2,12.1,0.2s3.2,8.8-0.2,12.1l-77.2,75l34.3,33.4c3.4,3.3,3.5,8.7,0.2,12.1C317.6,283.4,315.4,284.3,313.2,284.3z"></path> </g> <g> <path d="M230.8,279.3c-1.9,0-3.9-0.7-5.5-2l-41.7-34.5c-3.6-3-4.2-8.4-1.1-12.1c3-3.6,8.4-4.2,12.1-1.1l36.3,30l36.3-30 c3.6-3,9-2.5,12.1,1.1c3,3.6,2.5,9-1.1,12.1l-41.7,34.5C234.7,278.6,232.7,279.3,230.8,279.3z"></path> </g> <g> <g> <path d="M387,260.4c8.8,4.6,15.7,11,20.6,19c4.9,8,7.4,17,7.4,26.9c0,7.3-1.2,13.6-3.5,18.8c-2.3,5.2-5.5,9.2-9.5,11.9 c-4,2.7-8.6,4.1-13.8,4.1c-4.3,0-8-0.9-11.1-2.7c-2.2-1.3-4.1-3.1-5.4-5.3c-0.7-1.1-2.2-1.2-3-0.2c-4.1,5.4-10.1,8.1-18.1,8.1 c-4.8,0-9.3-1.3-13.4-3.8c-4.1-2.6-7.5-6.2-9.9-10.8c-2.5-4.6-3.7-9.9-3.7-16c0-6,1.2-11.3,3.7-16c2.4-4.6,5.7-8.2,9.9-10.7 c4.1-2.5,8.7-3.8,13.5-3.8c5.6,0,10.3,1.4,14,4.3c1.2,0.9,2.9,0,2.9-1.5l0,0c0-1,0.8-1.8,1.8-1.8h16.2c1,0,1.8,0.8,1.8,1.8v35.3 c0,2.6,0.5,4.5,1.5,5.6c1,1.1,2.3,1.7,3.9,1.7c5.1,0,7.7-6.3,7.7-18.9c0-7.7-1.8-14.6-5.4-20.6c-3.6-6-8.7-10.7-15.3-14.1 c-6.6-3.4-14.2-5.1-22.8-5.1c-8.5,0-16.1,1.8-22.7,5.5c-6.6,3.7-11.8,8.7-15.4,15.2c-3.7,6.5-5.5,13.7-5.5,21.7 c0,8.2,1.8,15.6,5.4,22.1c3.6,6.5,8.6,11.6,15.2,15.2c6.5,3.6,14.1,5.4,22.6,5.4c8,0,15.5-1.5,22.5-4.5c1-0.4,2.1,0.1,2.4,1.1 l3.3,9.6c0.3,0.9-0.1,1.9-1,2.3c-3.3,1.5-7.2,2.6-11.7,3.6c-5.2,1.1-10.3,1.6-15.5,1.6c-11.8,0-22.2-2.4-31.1-7.3 c-9-4.9-15.9-11.6-20.8-20.1c-4.9-8.5-7.4-18.1-7.4-28.8c0-10.6,2.5-20.1,7.4-28.6c5-8.5,12-15.2,21-20 c9.1-4.9,19.5-7.3,31.4-7.3C368.1,253.5,378.2,255.8,387,260.4z M364.5,321c2.2-2.4,3.4-5.9,3.4-10.4c0-4.4-1.1-7.8-3.4-10.2 c-2.2-2.4-5.1-3.7-8.7-3.7c-3.6,0-6.5,1.2-8.7,3.7c-2.2,2.4-3.3,5.8-3.3,10.2c0,4.4,1.1,7.8,3.3,10.3c2.2,2.5,5.1,3.7,8.7,3.7 C359.3,324.6,362.2,323.4,364.5,321z"></path> </g> </g> </g> </g></svg>
                Contact Me
            </span>
        </button>
        </div>
    </div>
</div>
<div class="flex justify-center items-center w-full h-full lg:w-[31%] ">
	<div class="w-full h-full flex justify-center items-center">
		<img src="/ft-port.webp" alt="" class="size-[15rem] lg:w-[20rem] lg:h-[20rem] animate-fade-up rounded-full ">
	</div>
    
</div>

<style>
	

	.btn_projects{
		border-radius:1.5rem .75rem;
	}

	.btn_contact{
		border-radius:.75rem 1.5rem;
	}

    .name-wave{
		position: absolute;
		/* left: 19.5rem; */
	}

	.wave-bor{
		text-shadow: 
		-1px -1px 0 black,
		1px -1px 0 black,
		1px 1px 0 black,
		-1px 1px 0 black
		;
	}

	.wave{
		color: #09f;
		animation: wave 2s ease-in-out 3s infinite;
	}

    .fade-up-wave{
        color: #09f;
        animation: fade-up 1s both, wave 2s ease-in-out infinite;
    }
	
	@keyframes wave{
		0%, 100% {
			clip-path: polygon(
				0% 47%,
				10% 48%,
				33% 54%,
				54% 60%,
				70% 61%,
				84% 59%,
				100% 52%,
				100% 100%,
				0% 100%
			);
		}
		50% {
			clip-path: polygon(
				0% 65%,
				15% 65%,
				34% 66%,
				51% 62%,
				67% 58%,
				84% 45%,
				100% 46%,
				100% 100%,
				0% 100%
			);
		}
	}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(2rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.animate-fade-up {
    animation: fade-up 1s both
}


	@media screen and (max-width:768px) {
		.box-relative{
		width: 18.5rem;
	}
}
</style>