---

---

<div
  class="lg:flex lg:flex-col lg:items-center hidden lg:fixed bottom-0 left-6"
>
  <div class="flex flex-col gap-5">
    <a
      class="tap-highlight-transparent no-underline hover:opacity-80 active:opacity-disabled transition-opacity z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small gap-unit-2 rounded-none px-unit-0 !gap-unit-0 data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none text-default-foreground min-w-unit-10 w-unit-10 h-unit-10 data-[hover=true]:opacity-hover border-none bg-transparent"
      aria-label="Ir al perfil de TheFabi8A en Twitch"
      tabindex="0"
      role="button"
      href="https://www.instagram.com/eduardo_mar.99/"
      target="_blank"
      rel="noopener noreferrer"
      ><svg xmlns="http://www.w3.org/2000/svg" class="w-8 color-ig rounded-lg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256"><path class="fill-black dark:fill-white" fill="#fff" d="M128 23.064c34.177 0 38.225.13 51.722.745 12.48.57 19.258 2.655 23.769 4.408 5.974 2.322 10.238 5.096 14.717 9.575 4.48 4.479 7.253 8.743 9.575 14.717 1.753 4.511 3.838 11.289 4.408 23.768.615 13.498.745 17.546.745 51.723 0 34.178-.13 38.226-.745 51.723-.57 12.48-2.655 19.257-4.408 23.768-2.322 5.974-5.096 10.239-9.575 14.718-4.479 4.479-8.743 7.253-14.717 9.574-4.511 1.753-11.289 3.839-23.769 4.408-13.495.616-17.543.746-51.722.746-34.18 0-38.228-.13-51.723-.746-12.48-.57-19.257-2.655-23.768-4.408-5.974-2.321-10.239-5.095-14.718-9.574-4.479-4.48-7.253-8.744-9.574-14.718-1.753-4.51-3.839-11.288-4.408-23.768-.616-13.497-.746-17.545-.746-51.723 0-34.177.13-38.225.746-51.722.57-12.48 2.655-19.258 4.408-23.769 2.321-5.974 5.095-10.238 9.574-14.717 4.48-4.48 8.744-7.253 14.718-9.575 4.51-1.753 11.288-3.838 23.768-4.408 13.497-.615 17.545-.745 51.723-.745M128 0C93.237 0 88.878.147 75.226.77c-13.625.622-22.93 2.786-31.071 5.95-8.418 3.271-15.556 7.648-22.672 14.764C14.367 28.6 9.991 35.738 6.72 44.155 3.555 52.297 1.392 61.602.77 75.226.147 88.878 0 93.237 0 128c0 34.763.147 39.122.77 52.774.622 13.625 2.785 22.93 5.95 31.071 3.27 8.417 7.647 15.556 14.763 22.672 7.116 7.116 14.254 11.492 22.672 14.763 8.142 3.165 17.446 5.328 31.07 5.95 13.653.623 18.012.77 52.775.77s39.122-.147 52.774-.77c13.624-.622 22.929-2.785 31.07-5.95 8.418-3.27 15.556-7.647 22.672-14.763 7.116-7.116 11.493-14.254 14.764-22.672 3.164-8.142 5.328-17.446 5.95-31.07.623-13.653.77-18.012.77-52.775s-.147-39.122-.77-52.774c-.622-13.624-2.786-22.929-5.95-31.07-3.271-8.418-7.648-15.556-14.764-22.672C227.4 14.368 220.262 9.99 211.845 6.72c-8.142-3.164-17.447-5.328-31.071-5.95C167.122.147 162.763 0 128 0Zm0 62.27C91.698 62.27 62.27 91.7 62.27 128c0 36.302 29.428 65.73 65.73 65.73 36.301 0 65.73-29.428 65.73-65.73 0-36.301-29.429-65.73-65.73-65.73Zm0 108.397c-23.564 0-42.667-19.103-42.667-42.667S104.436 85.333 128 85.333s42.667 19.103 42.667 42.667-19.103 42.667-42.667 42.667Zm83.686-110.994c0 8.484-6.876 15.36-15.36 15.36-8.483 0-15.36-6.876-15.36-15.36 0-8.483 6.877-15.36 15.36-15.36 8.484 0 15.36 6.877 15.36 15.36Z"/></svg>
    </a>

    <a
      class="tap-highlight-transparent no-underline hover:opacity-80 active:opacity-disabled transition-opacity z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small gap-unit-2 rounded-none px-unit-0 !gap-unit-0 data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none text-default-foreground min-w-unit-10 w-unit-10 h-unit-10 data-[hover=true]:opacity-hover border-none bg-transparent"
      aria-label="Ir al perfil de TheFabi8A en Twitter"
      tabindex="0"
      role="button"
      href="https://twitter.com/Edumc1409"
      target="_blank"
      rel="noopener noreferrer"
      ><svg
        class="w-8"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 23 23"
        ><path
          class="fill-black dark:fill-white"
          d="M3.97 23a3.426 3.426 0 0 1-3.422-3.423V3.97A3.426 3.426 0 0 1 3.97.548h15.607A3.426 3.426 0 0 1 23 3.97v15.607A3.426 3.426 0 0 1 19.577 23H3.97Z"
          opacity=".35"></path><path
          fill="#F2F2F2"
          d="M3.423 22.452A3.426 3.426 0 0 1 0 19.03V3.423A3.426 3.426 0 0 1 3.423 0H19.03a3.426 3.426 0 0 1 3.422 3.423V19.03a3.426 3.426 0 0 1-3.422 3.422H3.423Z"
        ></path><path
          fill="#000"
          fill-rule="evenodd"
          d="M1.37 17.57v1.46c0 1.132.92 2.053 2.053 2.053H19.03a2.056 2.056 0 0 0 2.053-2.053v-1.302c.003-.053.004-.106.004-.159V4.61a3.2 3.2 0 0 0-.004-.158V3.423a2.056 2.056 0 0 0-2.053-2.054H3.423a2.056 2.056 0 0 0-2.054 2.054v14.146ZM9.36 5.535H5.635l4.33 6.065-4.37 5.044h1.173l3.727-4.302 3.071 4.302h3.725l-4.753-6.66 3.854-4.449H15.22l-3.211 3.708L9.36 5.535Zm4.694 10.183L7.432 6.461h1.439l6.623 9.257h-1.439Z"
          clip-rule="evenodd"></path></svg
      ></a
    ><a
      class="tap-highlight-transparent no-underline hover:opacity-80 active:opacity-disabled transition-opacity z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small gap-unit-2 rounded-none px-unit-0 !gap-unit-0 data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none text-default-foreground min-w-unit-10 w-unit-10 h-unit-10 data-[hover=true]:opacity-hover border-none bg-transparent"
      aria-label="Ir al perfil de Eduardo Mar Linkedin"
      tabindex="0"
      role="button"
      href="https://www.linkedin.com/in/eduardo-mar-cruz-14091999emc/"
      target="_blank"
      rel="noopener noreferrer"
      ><svg
        class="w-8"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 84 84"
        ><path
          class="fill-black dark:fill-white"
          d="M14.5 84C7.607 84 2 78.393 2 71.5v-57C2 7.607 7.607 2 14.5 2h57C78.393 2 84 7.607 84 14.5v57C84 78.393 78.393 84 71.5 84h-57Z"
          opacity=".35"></path><path
          fill="#F2F2F2"
          d="M12.5 82C5.607 82 0 76.393 0 69.5v-57C0 5.607 5.607 0 12.5 0h57C76.393 0 82 5.607 82 12.5v57C82 76.393 76.393 82 69.5 82h-57Z"
        ></path><path
          class="fill-[#0a65c1]"
          d="M6.5 69.5v-57c0-3.314 2.686-6 6-6h57c3.314 0 6 2.686 6 6v57c0 3.314-2.686 6-6 6h-57c-3.314 0-6-2.686-6-6Z"
        ></path><path
          fill="#000"
          d="M69.5 77h-57C8.364 77 5 73.636 5 69.5v-57C5 8.364 8.364 5 12.5 5h57c4.136 0 7.5 3.364 7.5 7.5v57c0 4.136-3.364 7.5-7.5 7.5Zm-57-69C10.019 8 8 10.019 8 12.5v57c0 2.481 2.019 4.5 4.5 4.5h57c2.481 0 4.5-2.019 4.5-4.5v-57c0-2.481-2.019-4.5-4.5-4.5h-57Z"
        ></path><path
          class="fill-white"
          d="M29 32h-9v30h9V32Zm-4.516-3.0002h-.049c-2.59 0-4.265-1.93-4.265-4.341 0-2.463 1.727-4.338 4.364-4.338 2.64 0 4.267 1.875 4.315 4.338 0 2.409-1.675 4.341-4.365 4.341ZM61.99 62h-8.729V45.752c0-3.837-2.139-6.456-5.573-6.456-2.62 0-4.038 1.767-4.726 3.474-.251.611-.176 2.301-.176 3.155V62h-8.729V31.958h8.729v4.567c1.259-1.948 3.23-4.567 8.272-4.567 6.247 0 10.931 3.928 10.931 12.699L61.99 62Z"
        ></path></svg
      ></a
    ><a
      class="tap-highlight-transparent no-underline hover:opacity-80 active:opacity-disabled transition-opacity z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small gap-unit-2 rounded-none px-unit-0 !gap-unit-0 data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none text-default-foreground min-w-unit-10 w-unit-10 h-unit-10 data-[hover=true]:opacity-hover border-none bg-transparent"
      aria-label="Ir al perfil de TheFabi8A en GitHub"
      tabindex="0"
      role="button"
      href="https://github.com/EduMC14"
      target="_blank"
      rel="noopener noreferrer"
      ><svg class="w-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
        ><g
          fill="none"
          stroke-miterlimit="10"
          font-family="none"
          font-size="none"
          font-weight="none"
          style="mix-blend-mode:normal"
          text-anchor="none"
          transform="scale(2.56)"
          ><circle
            class="dark:fill-white"
            cx="52"
            cy="52"
            r="44"
            fill="#000"
            opacity=".35"></circle><circle cx="50" cy="50" r="44" fill="#fff"
          ></circle><path
            class="fill-black"
            d="M50 12.5c-20.711 0-37.5 16.789-37.5 37.5S29.289 87.5 50 87.5 87.5 70.711 87.5 50 70.711 12.5 50 12.5z"
          ></path><path
            class="fill-white"
            d="M60.161 83.936c0-1.122.042-4.813.042-9.389 0-3.192-1.095-5.281-2.324-6.338 7.624-.847 15.626-3.74 15.626-16.888 0-3.736-1.324-6.791-3.518-9.184.352-.866 1.527-4.346-.341-9.057 0 0-2.868-.92-9.402 3.508-2.734-.759-5.662-1.139-8.568-1.152-2.91.013-5.838.393-8.568 1.152-6.538-4.429-9.411-3.508-9.411-3.508-1.862 4.712-.687 8.192-.336 9.057-2.189 2.393-3.523 5.448-3.523 9.184 0 13.115 7.99 16.051 15.589 16.915-.978.856-1.862 2.364-2.173 4.575-1.95.876-6.907 2.386-9.96-2.844 0 0-1.808-3.285-5.242-3.527 0 0-3.342-.043-.235 2.08 0 0 2.244 1.053 3.8 5.006 0 0 2.009 6.656 11.529 4.588.017 2.856.046 5.008.046 5.821 0 .385-.122.792-.383 1.115C45.945 86.292 49.3 87 52.807 87c2.981 0 5.853-.509 8.576-1.417-.881-.213-1.222-.97-1.222-1.647z"
          ></path><path
            fill="#000"
            d="M50 89c-21.505 0-39-17.495-39-39s17.495-39 39-39 39 17.495 39 39-17.495 39-39 39zm0-75c-19.851 0-36 16.149-36 36s16.149 36 36 36 36-16.149 36-36-16.149-36-36-36z"
          ></path></g
        ></svg
      ></a
    >
  </div>
  <span
    class="relative mt-[14px] block h-40 w-[2px] bg-cyan-800 dark:bg-blue-600 outline-2 outline rounded-sm shadow-[2px_-0.5px_0_1px_#00000035] dark:shadow-[2px_-0.5px_0_1px_#ffffff35]"
  ></span>
</div>

<style>
  .color-ig{
    background:linear-gradient(45deg, #405de6,#5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  }

  @keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(2rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.animate-fade-up {
    animation: fade-up 1s both
}
</style>
