---

---

<div
  class="animate-fade-up lg:flex lg:flex-col lg:items-center hidden lg:fixed bottom-0 left-7"
>
  <div class="flex flex-col gap-2">
    <a
      class="tap-highlight-transparent no-underline hover:opacity-80 active:opacity-disabled transition-opacity z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small gap-unit-2 rounded-none px-unit-0 !gap-unit-0 data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none text-default-foreground min-w-unit-10 w-unit-10 h-unit-10 data-[hover=true]:opacity-hover border-none bg-transparent"
      aria-label="Ir al perfil de TheFabi8A en Twitch"
      tabindex="0"
      role="button"
      href="https://www.twitch.tv/thefabi8a"
      target="_blank"
      rel="noopener noreferrer"
      ><svg
        class="w-10"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
        ><g
          fill="none"
          stroke-miterlimit="10"
          font-family="none"
          font-size="none"
          font-weight="none"
          style="mix-blend-mode:normal"
          text-anchor="none"
          ><path
            class="fill-black dark:fill-white"
            d="M100.77696 238.08c-11.80928 0-21.41696-9.60768-21.41696-21.41696V209.92H52.13696c-11.80928 0-21.41696-9.60768-21.41696-21.41696V87.62624c0-3.29472.77568-6.59712 2.24512-9.54624L51.9424 40.02304C55.60064 32.69888 62.9376 28.16 71.0912 28.16h143.01184c11.80928 0 21.41696 9.60768 21.41696 21.41696v92.45696c0 5.16864-1.86368 10.16064-5.24544 14.0544l-40.27392 46.44352c-4.08064 4.6976-9.97376 7.38816-16.18176 7.38816h-24.7296l-26.8288 22.99648c-3.87328 3.328-8.82944 5.16352-13.94688 5.16352z"
            opacity=".35"></path><path
            fill="#f2f2f2"
            d="M95.65696 232.96c-11.80928 0-21.41696-9.60768-21.41696-21.41696V204.8H47.01696C35.20768 204.8 25.6 195.19232 25.6 183.38304V82.50624c0-3.29472.77568-6.59712 2.24512-9.54624L46.8224 34.90304C50.48064 27.57888 57.8176 23.04 65.9712 23.04h143.01184c11.80928 0 21.41696 9.60768 21.41696 21.41696v92.45696c0 5.16864-1.86368 10.16064-5.24544 14.0544l-40.27392 46.44352C180.8 202.10944 174.90688 204.8 168.69888 204.8h-24.7296l-26.8288 22.99648c-3.87328 3.328-8.82944 5.16352-13.94688 5.16352z"
          ></path><path
            fill="#ff47d2"
            d="m212.58752 140.06272-40.27904 46.44864c-.9088 1.04704-2.22464 1.64864-3.61216 1.64864h-29.1456c-1.12128 0-2.20672.39936-3.05664 1.13152l-30.1824 25.87392c-.86784.74496-1.97376 1.15456-3.11808 1.15456h-7.53408c-2.63936 0-4.77696-2.14016-4.77696-4.77696v-18.60352c0-2.63936-2.14016-4.77696-4.77696-4.77696H47.01696c-2.63936 0-4.77696-2.14016-4.77696-4.77696V82.50624c0-.73984.17152-1.46944.50176-2.13248l18.9696-38.05184c.80896-1.61792 2.4576-2.64448 4.25984-2.64448h143.00928c2.63936 0 4.77696 2.14016 4.77696 4.77696v92.45696c.00256 1.16224-.41216 2.2784-1.16992 3.15136z"
          ></path><path
            fill="#000"
            d="M103.1936 220.16h-7.53408c-4.75392 0-8.61952-3.8656-8.61952-8.61696v-18.60608c0-.51712-.41984-.93696-.93696-.93696H47.01696C42.2656 192 38.4 188.1344 38.4 183.38304V82.50624c0-1.32608.31232-2.65472.90368-3.84256L58.27584 40.6144c1.472-2.94656 4.42112-4.7744 7.69536-4.7744h143.01184c4.75136 0 8.61696 3.8656 8.61696 8.61696v92.45696c0 2.08128-.75008 4.096-2.112 5.66272l-40.27904 46.4512C173.568 190.91712 171.19744 192 168.69888 192h-29.14816c-.2048 0-.39936.07168-.5504.20224l-30.19008 25.87904c-1.56416 1.34144-3.5584 2.07872-5.61664 2.07872zM65.9712 43.52c-.34304 0-.6656.2048-.82432.52224L46.17728 82.0864c-.064.13056-.09728.27392-.09728.41984v100.8768c0 .51712.41984.93696.93696.93696h39.08608c4.75136 0 8.61696 3.8656 8.61696 8.61696v18.60608c0 .51712.41984.93696.93696.93696h7.53408c.22528 0 .44544-.08192.61952-.2304l30.18496-25.87392c1.53856-1.32608 3.51232-2.05568 5.5552-2.05568h29.14816c.27136 0 .53248-.11776.71168-.32512l40.27648-46.4512c.15104-.17152.23296-.39424.23296-.62976V44.45696c0-.51712-.41984-.93696-.93696-.93696z"
          ></path><path
            fill="#f2f2f2"
            d="M199.68 131.8144 172.7744 158.72H143.68c-11.19744 9.55648-22.40256 19.11296-33.6 28.66944V158.72c-12.80256-.0384-25.59744-.0768-38.4-.1152V53.76h128z"
          ></path><path
            fill="#ff47d2"
            d="M112.64 81.92H128v48.64h-15.36zm43.52 0h15.36v48.64h-15.36z"
          ></path></g
        ></svg
      ></a
    ><a
      class="tap-highlight-transparent no-underline hover:opacity-80 active:opacity-disabled transition-opacity z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small gap-unit-2 rounded-none px-unit-0 !gap-unit-0 data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none text-default-foreground min-w-unit-10 w-unit-10 h-unit-10 data-[hover=true]:opacity-hover border-none bg-transparent"
      aria-label="Ir al perfil de TheFabi8A en Discord"
      tabindex="0"
      role="button"
      href="https://discord.gg/2G88Dp2bVC"
      target="_blank"
      rel="noopener noreferrer"
      ><svg
        class="w-10"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        ><path
          class="fill-black dark:fill-white"
          d="M67.973 86.141c-2.489 0-4.778-1.229-6.124-3.289l-1.405-2.13c-2.676.382-5.433.578-8.201.578-2.899 0-5.81-.215-8.645-.634l-1.46 2.212c-1.344 2.041-3.633 3.263-6.118 3.263-.12 0-.241-.003-.362-.009-2.691-.136-16.577-1.359-26.278-12.218-1.323-1.486-2.005-3.47-1.874-5.449 1.545-24.264 9.593-37.95 11.19-40.447.551-.847 1.207-1.552 1.971-2.128.122-.091 11.176-8.025 20.95-8.025 1.696 0 3.889.629 5.76 3.2 2.041-.002 9.145-.002 9.145-.002 1.976-2.716 4.386-3.204 5.859-3.204 9.741 0 20.825 7.93 20.933 8.01.809.609 1.472 1.327 1.998 2.15 1.597 2.498 9.645 16.194 11.186 40.459.13 1.964-.552 3.949-1.873 5.429-9.69 10.853-23.58 12.085-26.266 12.223-.109.007-.25.011-.386.011z"
          opacity=".35"></path><path
          fill="#f2f2f2"
          d="M65.973 84.141c-2.489 0-4.778-1.229-6.124-3.289l-1.405-2.13c-2.676.382-5.433.578-8.201.578-2.899 0-5.81-.215-8.645-.634l-1.46 2.212c-1.344 2.041-3.633 3.263-6.118 3.263-.12 0-.241-.003-.362-.009-2.691-.136-16.577-1.359-26.278-12.218-1.323-1.486-2.005-3.47-1.874-5.449 1.545-24.264 9.593-37.95 11.19-40.447.551-.847 1.207-1.552 1.971-2.128.122-.091 11.176-8.025 20.95-8.025 1.696 0 3.889.629 5.76 3.2 2.041-.002 9.145-.002 9.145-.002 1.976-2.716 4.386-3.204 5.859-3.204 9.741 0 20.825 7.93 20.933 8.01.809.609 1.472 1.327 1.998 2.15 1.597 2.498 9.645 16.194 11.186 40.459.13 1.964-.552 3.949-1.873 5.429-9.69 10.853-23.58 12.085-26.266 12.223-.109.007-.25.011-.386.011z"
        ></path><path
          fill="#6975ED"
          d="M77.833 29.519c-.112-.176-.24-.314-.408-.441-.613-.461-9.925-6.72-17.045-6.72-.446 0-1.425 1.671-1.755 3.203-3.445.003-13.816-.005-17.266.01-.408-1.448-1.458-3.208-1.742-3.208-7.122 0-16.392 6.231-17.038 6.716-.168.126-.294.264-.408.441-1.223 1.913-8.723 14.491-10.18 37.372-.016.249.069.504.236.69 7.936 8.883 19.32 9.934 21.749 10.056.289.014.579-.102.738-.344l1.899-2.877-5.609-2.661v-2.78c10.935 4.867 26.532 5.363 38 .029l.047 2.744-5.538 2.851 1.776 2.694c.159.242.449.359.738.344 2.431-.124 13.813-1.173 21.747-10.058.166-.186.251-.441.236-.69-1.455-22.879-8.954-35.458-10.177-37.371z"
        ></path><path
          fill="#000"
          d="M65.973 79.141c-.784 0-1.521-.384-1.938-1.024l-1.773-2.689c-.234-.355-.307-.794-.199-1.206.108-.412.386-.759.765-.954l2.163-1.114c-9.084 2.842-20.131 2.86-29.531.056l1.797.853c.393.187.686.534.802.952.117.418.047.867-.192 1.23l-1.899 2.877c-.438.666-1.236 1.056-2.062 1.015-2.339-.118-14.42-1.181-22.795-10.555-.433-.486-.656-1.138-.613-1.789 1.468-23.048 8.932-35.766 10.413-38.081.216-.332.465-.601.768-.829.097-.072 9.988-7.019 17.941-7.019 1.313 0 2.297 1.93 2.803 3.205 2.672-.007 7.291-.006 11.093-.006h4.011c.474-1.299 1.414-3.203 2.857-3.203 7.965 0 17.853 6.95 17.946 7.02.311.234.562.506.771.832 1.481 2.317 8.946 15.045 10.409 38.085.043.646-.181 1.298-.613 1.783-8.365 9.369-20.452 10.438-22.79 10.558-.047.002-.091.003-.134.003zm-32.512-2.672c0 .001-.001.002-.002.003l.002-.003zm33.077-.004.003.004c-.001-.001-.002-.002-.003-.004zm-.59-.324h-.003.003zm-52.445-9.382c7.213 7.928 17.41 9.168 20.188 9.361l.718-1.086-4.048-1.92c-.523-.248-.857-.775-.857-1.355v-2.78c0-.508.257-.981.683-1.258.427-.277.963-.319 1.428-.112 11.085 4.934 26.2 4.951 36.757.04.459-.215.998-.182 1.429.088.431.27.695.739.704 1.247l.046 2.744c.01.571-.306 1.097-.813 1.358l-4.052 2.086.626.949c2.791-.195 12.985-1.444 20.187-9.362-1.484-22.633-9.065-35.081-9.928-36.429-.001-.001-.001-.001-.001-.002-.016-.024-.021-.029-.046-.049-1.289-.968-9.458-6.113-15.607-6.404-.26.405-.648 1.188-.824 2.006-.149.69-.759 1.184-1.465 1.184h-5.115c-4.363 0-9.824 0-12.146.01h-.007c-.672 0-1.262-.446-1.443-1.093-.218-.77-.646-1.615-.943-2.097-6.13.348-14.211 5.434-15.493 6.397-.909 1.395-8.491 13.834-9.978 36.477zm73.009.229v.003-.003zm-73.024-.003v.003-.003z"
        ></path><ellipse
          cx="60.956"
          cy="53.094"
          fill="#f2f2f2"
          rx="5.898"
          ry="7.011"></ellipse><ellipse
          cx="39.049"
          cy="53.094"
          fill="#f2f2f2"
          rx="5.898"
          ry="7.011"></ellipse></svg
      ></a
    ><a
      class="tap-highlight-transparent no-underline hover:opacity-80 active:opacity-disabled transition-opacity z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small gap-unit-2 rounded-none px-unit-0 !gap-unit-0 data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none text-default-foreground min-w-unit-10 w-unit-10 h-unit-10 data-[hover=true]:opacity-hover border-none bg-transparent"
      aria-label="Ir al perfil de TheFabi8A en Twitter"
      tabindex="0"
      role="button"
      href="https://twitter.com/TheFabi8ADev"
      target="_blank"
      rel="noopener noreferrer"
      ><svg
        class="w-8"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 23 23"
        ><path
          class="fill-black dark:fill-white"
          d="M3.97 23a3.426 3.426 0 0 1-3.422-3.423V3.97A3.426 3.426 0 0 1 3.97.548h15.607A3.426 3.426 0 0 1 23 3.97v15.607A3.426 3.426 0 0 1 19.577 23H3.97Z"
          opacity=".35"></path><path
          fill="#F2F2F2"
          d="M3.423 22.452A3.426 3.426 0 0 1 0 19.03V3.423A3.426 3.426 0 0 1 3.423 0H19.03a3.426 3.426 0 0 1 3.422 3.423V19.03a3.426 3.426 0 0 1-3.422 3.422H3.423Z"
        ></path><path
          fill="#000"
          fill-rule="evenodd"
          d="M1.37 17.57v1.46c0 1.132.92 2.053 2.053 2.053H19.03a2.056 2.056 0 0 0 2.053-2.053v-1.302c.003-.053.004-.106.004-.159V4.61a3.2 3.2 0 0 0-.004-.158V3.423a2.056 2.056 0 0 0-2.053-2.054H3.423a2.056 2.056 0 0 0-2.054 2.054v14.146ZM9.36 5.535H5.635l4.33 6.065-4.37 5.044h1.173l3.727-4.302 3.071 4.302h3.725l-4.753-6.66 3.854-4.449H15.22l-3.211 3.708L9.36 5.535Zm4.694 10.183L7.432 6.461h1.439l6.623 9.257h-1.439Z"
          clip-rule="evenodd"></path></svg
      ></a
    ><a
      class="tap-highlight-transparent no-underline hover:opacity-80 active:opacity-disabled transition-opacity z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small gap-unit-2 rounded-none px-unit-0 !gap-unit-0 data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none text-default-foreground min-w-unit-10 w-unit-10 h-unit-10 data-[hover=true]:opacity-hover border-none bg-transparent"
      aria-label="Ir al perfil de TheFabi8A en LinkedIn"
      tabindex="0"
      role="button"
      href="https://www.linkedin.com/in/fabian-ochoa/"
      target="_blank"
      rel="noopener noreferrer"
      ><svg
        class="w-8"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 84 84"
        ><path
          class="fill-black dark:fill-white"
          d="M14.5 84C7.607 84 2 78.393 2 71.5v-57C2 7.607 7.607 2 14.5 2h57C78.393 2 84 7.607 84 14.5v57C84 78.393 78.393 84 71.5 84h-57Z"
          opacity=".35"></path><path
          fill="#F2F2F2"
          d="M12.5 82C5.607 82 0 76.393 0 69.5v-57C0 5.607 5.607 0 12.5 0h57C76.393 0 82 5.607 82 12.5v57C82 76.393 76.393 82 69.5 82h-57Z"
        ></path><path
          class="fill-[#0a65c1]"
          d="M6.5 69.5v-57c0-3.314 2.686-6 6-6h57c3.314 0 6 2.686 6 6v57c0 3.314-2.686 6-6 6h-57c-3.314 0-6-2.686-6-6Z"
        ></path><path
          fill="#000"
          d="M69.5 77h-57C8.364 77 5 73.636 5 69.5v-57C5 8.364 8.364 5 12.5 5h57c4.136 0 7.5 3.364 7.5 7.5v57c0 4.136-3.364 7.5-7.5 7.5Zm-57-69C10.019 8 8 10.019 8 12.5v57c0 2.481 2.019 4.5 4.5 4.5h57c2.481 0 4.5-2.019 4.5-4.5v-57c0-2.481-2.019-4.5-4.5-4.5h-57Z"
        ></path><path
          class="fill-white"
          d="M29 32h-9v30h9V32Zm-4.516-3.0002h-.049c-2.59 0-4.265-1.93-4.265-4.341 0-2.463 1.727-4.338 4.364-4.338 2.64 0 4.267 1.875 4.315 4.338 0 2.409-1.675 4.341-4.365 4.341ZM61.99 62h-8.729V45.752c0-3.837-2.139-6.456-5.573-6.456-2.62 0-4.038 1.767-4.726 3.474-.251.611-.176 2.301-.176 3.155V62h-8.729V31.958h8.729v4.567c1.259-1.948 3.23-4.567 8.272-4.567 6.247 0 10.931 3.928 10.931 12.699L61.99 62Z"
        ></path></svg
      ></a
    ><a
      class="tap-highlight-transparent no-underline hover:opacity-80 active:opacity-disabled transition-opacity z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small gap-unit-2 rounded-none px-unit-0 !gap-unit-0 data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none text-default-foreground min-w-unit-10 w-unit-10 h-unit-10 data-[hover=true]:opacity-hover border-none bg-transparent"
      aria-label="Ir al perfil de TheFabi8A en GitHub"
      tabindex="0"
      role="button"
      href="https://github.com/TheFabi8A"
      target="_blank"
      rel="noopener noreferrer"
      ><svg class="w-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
        ><g
          fill="none"
          stroke-miterlimit="10"
          font-family="none"
          font-size="none"
          font-weight="none"
          style="mix-blend-mode:normal"
          text-anchor="none"
          transform="scale(2.56)"
          ><circle
            class="dark:fill-white"
            cx="52"
            cy="52"
            r="44"
            fill="#000"
            opacity=".35"></circle><circle cx="50" cy="50" r="44" fill="#fff"
          ></circle><path
            class="fill-black"
            d="M50 12.5c-20.711 0-37.5 16.789-37.5 37.5S29.289 87.5 50 87.5 87.5 70.711 87.5 50 70.711 12.5 50 12.5z"
          ></path><path
            class="fill-white"
            d="M60.161 83.936c0-1.122.042-4.813.042-9.389 0-3.192-1.095-5.281-2.324-6.338 7.624-.847 15.626-3.74 15.626-16.888 0-3.736-1.324-6.791-3.518-9.184.352-.866 1.527-4.346-.341-9.057 0 0-2.868-.92-9.402 3.508-2.734-.759-5.662-1.139-8.568-1.152-2.91.013-5.838.393-8.568 1.152-6.538-4.429-9.411-3.508-9.411-3.508-1.862 4.712-.687 8.192-.336 9.057-2.189 2.393-3.523 5.448-3.523 9.184 0 13.115 7.99 16.051 15.589 16.915-.978.856-1.862 2.364-2.173 4.575-1.95.876-6.907 2.386-9.96-2.844 0 0-1.808-3.285-5.242-3.527 0 0-3.342-.043-.235 2.08 0 0 2.244 1.053 3.8 5.006 0 0 2.009 6.656 11.529 4.588.017 2.856.046 5.008.046 5.821 0 .385-.122.792-.383 1.115C45.945 86.292 49.3 87 52.807 87c2.981 0 5.853-.509 8.576-1.417-.881-.213-1.222-.97-1.222-1.647z"
          ></path><path
            fill="#000"
            d="M50 89c-21.505 0-39-17.495-39-39s17.495-39 39-39 39 17.495 39 39-17.495 39-39 39zm0-75c-19.851 0-36 16.149-36 36s16.149 36 36 36 36-16.149 36-36-16.149-36-36-36z"
          ></path></g
        ></svg
      ></a
    >
  </div>
  <span
    class="relative mt-[14px] block h-40 w-[2px] bg-cyan-800 dark:bg-blue-600 outline-2 outline rounded-sm shadow-[2px_-0.5px_0_1px_#00000035] dark:shadow-[2px_-0.5px_0_1px_#ffffff35]"
  ></span>
</div>

<style>
  @keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(2rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.animate-fade-up {
    animation: fade-up 1s both
}
</style>
