---
import Bootstrap from "./icons/Bootstrap.astro";
import Taildwind from "./icons/Taildwind.astro";
import React from "./icons/React.astro"
import ExpressIcon from "./icons/ExpressIcon.astro"
import NodeIcon from "./icons/NodeIcon.astro";
import MysqlIcon from "./icons/MysqlIcon.astro"
import ReactRouter from "./icons/ReactRouter.astro"
import StyleIcon from "./icons/StyleIcon.astro"
import ViteIcon from "./icons/ViteIcon.astro";
import JsIcon from "./icons/JsIcon.astro"
import HTMLIcon from "./icons/HTMLIcon.astro"
import CSSIcon from "./icons/CSSIcon.astro"
const { technologies } = Astro.props;


---

<ul class="w-full flex flex-wrap justify-start lg:mt-5 mt-3">
    {
        technologies.map((tech) => (
            <li class="mr-2 mt-2 hover:scale-110 hover:cursor-pointer">
                {tech === "Bootstrap" && <Bootstrap />}
                {tech === "Tailwind" && <Taildwind />}
                {tech === "React" && <React /> }
                {tech === "Express-js" && <ExpressIcon />}
                {tech === "Node-js" && <NodeIcon />}
                {tech === "MySql" && <MysqlIcon />}
                {tech === "React-Router-Dom" && <ReactRouter />}
                {tech === "Style-Components" && <StyleIcon />}
                {tech === "Vite" && <ViteIcon />}
                {tech === "JavaScript" && <JsIcon />}
                {tech === "HTML" && <HTMLIcon />}
                {tech === "CSS" && <CSSIcon />}
            </li>
        ))
    }
</ul>
